<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>
    <%- include("partials/head") -%>
</head>

<body>

    <%- include("partials/navigation") %>

    <div class="container p-4">
        <div class="row">
            <div class="card-columns">

                <% images.forEach(function (image) { %>

                <div class="card animated fadeInDown">
                    <a href="/image/<%= image._id %>" class="">
                        <img src="<%= image.path %>" class="card-img-top" alt="<%= image.filename %>">
                     </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= image.title %></h5>
                        <p class="card-text"><%= image.description %></p>
                        <p><%= format(image.created_at) %></p>
                        <div class="p-2 ml-auto">
                            <a href="/image/<%= image._id%>/like"><i class="fa fa-heart fa-2x text-danger" aria-hidden="true"></i> </a>
                            <label><%= image.like %></label>
                        </div>
                    </div>
                </div>
                <% }) %>


            </div>
        </div>
    </div>

</body>

</html>